{{!--Template for showing issues--}}

<div id="divIssuesTemplate">
       
    <button id="btnCreate" type="button" class="btn btn-primary  {{#if @root.IsAdmin }} hidden {{/if}}">Create</button>

    <table id="tableIssues" class="table table-hover table-condensed">
        <thead>
            <tr>
                <th>Title</th>
                <th>Priority</th>
                {{#if @root.IsAdmin }}
                <th>PostedBy</th>
                {{/if}}
                <th>Assigned To</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {{#each @root.issues}}
            <tr data-info-id={{id}}>
                <td data-info-title='{{Title}}'>{{Title}}</td>
                <td data-info-priority='{{PriorityId}}'>{{Priority}}</td>
                {{#if @root.IsAdmin }}
                <td data-info-postedBy='{{PostedBy}}' data-info-postedByName='{{PostedByName}}'>{{PostedByName}}</td>
                {{/if}}
                <td data-info-assignedTo='{{AssignedTo}}'>{{AssignedToName}}</td>
                <td data-info-status='{{StatusId}}'>{{Status}}</td>
                <td>
                    <span class="glyphicon glyphicon-pencil" data-action="edit" aria-hidden="true"></span>
                    <span class="glyphicon glyphicon-remove" data-action="delete" aria-hidden="true"></span>
                    <span class="" data-action="details">Details</span>
                </td>
                <td class="hidden" data-info-desc='{{Description}}'></td>
            </tr>
            {{/each}}
        </tbody>
    </table>


    <style>
        .well {
            background-color: #FFF;
        }
    </style>
    <div id="issueDetailsModal" class="modal fade" data-info-id="-1" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 id="modalTitle" class="modal-title">Issue Details</h4>
                </div>
                <div class="modal-body">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label for="divIssueTitle" class="col-sm-3 control-label">Title</label>
                            <div class="col-sm-9">
                                <div class="well well-sm" id="divIssueTitle">Title</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="divDescription" class="col-sm-3 control-label">Description</label>
                            <div class="col-sm-9">
                                <div id="divDescription" class="well well-large">Description</div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="postedBy" class="col-sm-3 control-label">Posted By</label>
                            <div class="col-sm-9">
                                <div class="well well-sm" id="postedBy">System admin</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="priority" class="col-sm-3 control-label">Priority</label>
                            <div class="col-sm-9">
                                <div class="well well-sm" id="priority">normal</div>

                            </div>
                        </div>
                    </div>


                    <table id="IssueHistoryTable" class="table table-hover table-condensed">
                        <thead>
                            <tr>
                                <th>Comments</th>
                                <th>Modified By</th>
                                <th>Modified On</th>
                                <th>Assigned To</th>
                                <th>Status</th>

                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Back</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

    <div id="issueEditModal" class="modal fade" data-info-id="-1" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 id="modalTitle" class="modal-title">Edit Issue</h4>
                </div>
                <div class="modal-body">
                    
                    {{#if @root.IsAdmin }}
                    <div class="form-horizontal" id="adminForm">
                      
                        <div class="form-group">
                            <label for="txtComments" class="col-sm-3 control-label">Comments</label>
                            <div class="col-sm-9">
                                <textarea name="txtComments" id="txtComments" class="well well-large" cols="30" rows="5"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="assignedTo" class="col-sm-3 control-label">Assigned To </label>
                            <div class="col-sm-9">
                                <select class="form-control" id="assignedTo" name="assignedTo">
                                    <option value="1">Admin 1</option>
                                    <option value="2">Admin 2</option>
                                    <option value="3">Admin 3</option>
                                </select>
                            </div>
                        </div>
                         <div class="form-group">
                            <label for="status" class="col-sm-3 control-label">Status </label>
                            <div class="col-sm-9">
                                <select class="form-control" id="status" name="status">
                                    <option value="1">Open</option>
                                    <option value="2">Work In progress</option>
                                    <option value="3">Closed</option>
                                </select>
                            </div>
                        </div>
                    </div>
                     {{else }}
                    
                    <div class="form-horizontal" id="nonAdminForm" >
                        <div class="form-group">
                            <label for="txtIssueTitle" class="col-sm-3 control-label">Title</label>
                            <div class="col-sm-9">
                                <input type="text" class="well well-sm" placeholder="Title" id="txtIssueTitle">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="txtDescription" class="col-sm-3 control-label">Description</label>
                            <div class="col-sm-9">
                                <textarea name="txtDescription" id="txtDescription" class="well well-large" cols="30" rows="5"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="priority" class="col-sm-3 control-label">Priority</label>
                            <div class="col-sm-9">
                                <select class="form-control" id="priority" name="priority">
                                    <option value="1">Normal</option>
                                    <option value="2">Urgent</option>
                                    <option value="3">Immediate</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    {{/if}}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" id="saveBtn">Save</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Back</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
</div>